<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/dist/style.css')}}"> -->
    <link rel="stylesheet" href="../static/styles/dist/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="hero">
      <div class="hero_container">
        <img src="../static/img/headshot-crop.png" alt="" />
        <div class="hero_info">
          <div class="hero_info-headline">
            <h1>Professional Portfolio</h1>
          </div>

          <div class="hero_expertise_list-label list-label">Fields of Expertise</div>
          <ul class="hero_expertise_list list">
            <li class="hero_expertise_list-item list-item">World Wide Web</li>
            <li class="hero_expertise_list-item list-item">Computer Science</li>
            <li class="hero_expertise_list-item list-item">
              Deep & Forward Thinking
            </li>
            <li class="hero_expertise_list-item list-item">Electronic Mail</li>
            <li class="hero_expertise_list-item list-item">
              Right-Click Technology
            </li>
          </ul>

          <div class="hero_languages_list-label list-label">Computeresque Languagess</div>
          <ul class="hero_languages_list list">
            <li class="hero_languages_list-item list-item">JavaScript</li>
            <li class="hero_languages_list-item list-item">Python</li>
            <li class="hero_languages_list-item list-item">
              PHP
            </li>
            <li class="hero_languages_list-item list-item">
              SQL
            </li>
            <li class="hero_languages_list-item list-item">HTML/CSS</li>
          </ul>
        </div>
      </div>
    </div>

    <script src="../static/scripts/script.js"></script>
  </body>
</html>
